.thoughtBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
  }
  
  .thoughtBox>form {
    display: flex;
    flex-direction: column;
  }
  
  .thoughtBox__input {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  thoughtBox__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .thoughtBox__input>textarea {
    flex: 1;
    margin-left: 15px;
    font-size: 15px;
    border: none;
    margin-top: 0px;
    border: 1px solid #51c7c8;
    border-radius: 15px;
    padding: 5px 10px;
  }
  
  .thoughtBox__imageInput {
    border: none;
    padding: 5px 20px;
  }
  
  .imageIcon_thoughtButton {
    display: flex;
    width: 95%;
    justify-content:space-around;
    align-items: center;
  }
  
  .thoughtBox__thoughtButton {
    background-color: #51c7c8 !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 50px !important;
    width: max-content;
    height: 40px !important;
  }
  
  .imageIcon {
    color: var(--twitter-color);
    padding-left: 25px;
  }
  
  .imageInput {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .thoughtBox__input{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    .thoughtBox__input>textarea {
      width: 70%;
    }
  }