.login-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-container {
    height: 100vh;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.login-box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f6f6;
}

.symbol-container{
    display: none;
}

.login-title{
    font-size: 2.5rem;
    color: #51c7c8;
    font-weight: bold;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-group{
    width: 40%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.form-input {
    width: 95%;
    height: 95%;
    padding: 0.5rem;
    border: 1px solid #51c7c8;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    width: 40%;
    height: 7vh;
    background-color: #51c7c8;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #51a7a8;
}

.login-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.log-text{
    font-size: 1rem;
    color: #51c7c8;
    text-decoration: none;
}

.log-text:hover{
    text-decoration: underline;
    font-weight: bold;
}

.g-button{
    cursor: pointer;
    transition: 0.3s;
}

.symbol-png{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    .login-container {
        flex-direction: column;      
    }

    .login-box{
        padding: 20px;
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
    }

    .symbol-container{
        display:block;
        width: 60%;
    }

    .img-container{
        display: none;
    }

    .input-group{
        width: 70%;
    }
    
}