.sidebar-container {
    overflow-y: scroll;
    position: inherit;
    display: flex;
    flex-direction: column;
    flex: 0.25;
    /* min-width: 350px; */
  }
  
  .sidebar__hamburger {
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #51c7c8;
  }
  
  .sidebar__hamburgerIcon {
    visibility: hidden;
    position: absolute;
  }
  
  .sidebar-container::-webkit-scrollbar {
    display: none;
  }
  
  .nav-logo-container {
    width: 10vw;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .nav-logo {
    width: 100%;
    height: auto;
  }
  
  .Profile__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 9999px;
    padding: 10px;
  }
  
  .user__info {
    margin-left: 10px;
  }
  
  .subUser__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .user__info > h4 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .user__info > h5 {
    margin: 0;
    padding: 0;
    opacity: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .nav-logo-container {
        width: 15vh;
        margin-left: 20px;
        margin-bottom: 5vh;
      }
    .sidebar__hamburgerIcon {
      visibility: visible;
    }
    .sidebar__hamburger {
      display: block;
      position: fixed;
      overflow-y: scroll;
      top: 0;
      left: 0;
      background-color: white;
      width: 200px;
      height: 99%;
      z-index: 1000;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebar__hamburger.open {
      transform: translateX(0);
    }
  
    .sidebar__hamburgerIcon {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 1100;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebar__hamburgerIcon.open {
      transform: translateX(250px);
    }
  }
  